@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-400.otf);
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-800.otf);
  font-display: swap;
  font-weight: 800;
}
