@import "variables";

body {
  background: $body-dark-color;
  color: $text-blue-color;
  @extend %avenir-400;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
  /////////////////////
  &__heading {
    @extend %avenir-800;
    margin-bottom: 10px;
  }
  /////////////////////
  &__paragraph {
    @extend %avenir-400;
    color: $text-blue-2-color;
  }
}

.cards {
  max-width: 80%;
  // height: auto;
  margin: 0 auto;
  margin-bottom: 60px;
  // background: rgb(250, 188, 188);
  padding: 20px;
  //////////////////
  display: grid;
  gap: 20px;
  //////////////////
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  //////////////////
  @media ($md) {
    max-width: 80%;
    // background: rgb(188, 250, 201);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  @media ($lg) {
    max-width: 1000px;
    height: 520px;
    // background: rgb(250, 188, 240);
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: auto;
  }

  @media ($xl) {
    max-width: 1180px;
  }

  //////////////////
  &__single-card {
    background: $card-dark-color;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
    padding: 20px 10px 40px 10px;
    // padding-top: 20px;
    // padding-bottom: 40px;
  }
  ///////////////////////
  &__image {
    max-width: 120px;
    width: 50%;
    margin-bottom: 10px;
    @media ($md) {
      max-width: 160px;
      width: 40%;
    }
    @media ($lg) {
      max-width: 256px;
      width: 50%;
    }
  }
  ///////////////////////
  &__title {
    color: $text-white-color;
    @extend %avenir-800;
    margin-bottom: 20px;
  }
  ///////////////////////
  &__list {
    color: $text-grey-color;
    text-align: left;
    display: inline-block;
    @extend %avenir-400;
    margin-bottom: 20px;
    // background: rgb(252, 192, 192);
  }
  ///////////////////////
  &__list-item {
    margin-bottom: 8px;
  }
  ///////////////////////
  &__price {
    // background: rgb(252, 192, 192);
    @extend %avenir-800;
    font-size: 3em;
    color: $text-white-color;
    margin-bottom: 30px;
  }
  ///////////////////////
  &__usd-sign {
    font-size: 0.5em;
  }
  ///////////////////////
  &__button {
    color: $text-white-color;
    @extend %avenir-800;
    background: $button-grey-color;
    padding: 16px 48px;
    border-radius: 16px;
  }
  &__button:hover {
    color: $text-white-color;
  }
  ///////////////////////
  &__icon {
    width: 16px;
    vertical-align: top;
  }
}
