//Colors
$body-dark-color: #222233;
$text-blue-color: #596fff;
$text-blue-2-color: #4b5bd1;
$text-white-color: #fff;
$text-grey-color: #4a4a5b;
$card-dark-color: #222233;
$card-active-color: #4b60f0;
$button-grey-color: #333344;

//Fonts
$stack-sans-serif: Arial, Helvetica, sans-serif;
$stack-avenir: "Avenir", $stack-sans-serif;

//Breakpoints
$sm: "min-width: 576px";
$md: "min-width: 768px";
$lg: "min-width: 1024px";
$xl: "min-width: 1200px";
$xxl: "min-width: 1400px";
$xxxl: "min-width: 1600px";
